body
{
    display:flex;
    justify-content: center;

}

.mamaDiv
{
    margin-top:100px;
    position: absolute;
    width:1000px;
    height:500px;
    border-radius:1%;
    overflow:hidden;
}

#slide
{

    width:5000px;
    height:500px;
    transition:all 500ms ease;
    
}

ul
{
    
    margin-top:0px;
    padding:0;
    display: flex;
}

li{
    
    list-style: none;
    width:500px;
    height:500px;
}

.boubou
{

    position: absolute;
    height:500px;
    width:50px;
    background-color:rgba(255,255,255,0.2);
    z-index:99;
    transition:all 200ms ease;
}

.boubou:hover
{
    background-color:rgba(255,255,255,0.7);
    cursor: pointer;
}

#right
{    
    
    margin-left:950px;
    top:0;
}
img{
    height:500px;
}

.barre
{
    display:flex;
    position:absolute;
    top:650px;
    width:1000px;
    height:10px;
    border-radius:15px;
}
#barre_droite

{
    
    width:0;
    height:10px;
    background-color:#f39c12;
    border-radius: 15px;
    transition:all 500ms ease;
}